// Colors based on FIFA 2021 game
$background-color:#372C7A;

$active-color:#7936DB;
$active-color-darker:#6c30c5;

$not-active-color:#201855;
$not-active-color-darker:#1C1548;

$accent-color:#45F9B8;
$accent-color-weak:#45F9B880;

$warning: #C14948;